@{
    ViewData["Title"] = "Sports Organizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Divisions!", "Index", "Division")</p>
<p>@Html.ActionLink("Teams!", "Index", "Team")</p>
<p>@Html.ActionLink("Players!", "Index", "Player")</p>


