@model SportsOrganizer.Models.Player

@{
    ViewData["Title"] = "Player -- Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to DELETE this?</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PlayerId)
    <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to List", "Index")